// Place all the styles related to the Progress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width:30px;
}
